//BREAKPOINTS
$bp-md: 768px;
$bp-lg: 1200px;

//COLORS
$background-header: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
$background-primary: #202020;
$background-secondary: #3C3C3C;
$background-white: #FFFEF2;
$text-color-white: #FFF;
$text-color-black: #000;
$text-color-gray: #565656;


