.quote-block {
  background-image: url("../../img/quote_background.jpg");
  height: 498px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  @media screen and (min-width: $bp-md) {
    padding-left: 32px;
    padding-right: 32px;
    height: 800px;
  }

  @media screen and (min-width: $bp-md) {
    padding-left: 32px;
    padding-right: 32px;
    height: 800px;
  }
}

.quote-block__text {
  font-family: DynaPuff, serif;
  color: $text-color-white;
  width: 100%;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  z-index: 5;
  text-align: center;
  top: 180px;
  margin: 0 auto;

  @media screen and (min-width: $bp-md) {
    font-size: 48px;
    top: 274px;
  }

  @media screen and (min-width: $bp-lg) {
    max-width: 1059px;
    top: 300px;
  }
}