@import "../abstracts/variables";
.header {
  background-image: $background-header;
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
}

.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 27px;
  margin: 0 auto;

  @media screen and (min-width: $bp-md) {
    padding: 31px 38px;
  }

  @media screen and (min-width: $bp-lg) {
    padding: 18px 195px;
    max-width: 1087px;
    align-self: center;
  }
}

.header__logo {
  display: block;
  width: 56px;
  height: 56px;
}

.header__menu {
  display: none;

  @media screen and (min-width: $bp-lg) {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.header__menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header__menu-list-item{
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
  border-radius: 20px;
  border: 1px solid $text-color-white;
  color: $text-color-white;
  font-size: 16px;
  font-weight: 700;
}
.header__right-side {
  img {
    fill: white;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid $text-color-white;
  }

  @media screen and (min-width: $bp-lg) {
    display: none;
  }
}
