@import "../abstracts/variables";

.footer {
  height: fit-content;
  background-color: $background-primary;
  position: relative;
}

.new-project {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 139px;
  border: 1px solid #F2F2F2;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  width: 342px;
  height: 72px;
  position: relative;
  top: 53px;
  text-decoration: none;
  margin: 0 auto 53px;
  @media screen and (min-width: $bp-md) {
    width: 714px;
    height: 150px;
    margin: 0 auto 96px;
    top: 96px;
  }
  @media screen and (min-width: $bp-lg) {
    margin: 0 auto 78px;
    top: 78px;
  }
}

.new-project__img {
  width: 51px;
  height: 51px;

  @media screen and (min-width: $bp-md) {
    width: 108px;
    height: 108px;
  }
}

.new-project__title {
  font-family: DynaPuff, serif;
  color: $text-color-white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;

  @media screen and (min-width: $bp-md) {
    font-size: 48px;
  }
}

.new-project__book-call {
  color: $text-color-white;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  position: relative;

  &::before {
    content: "";
    width: 32px;
    height: 16px;
    position: absolute;
    background: url(../../img/right-arrow.svg) center;
    top: 20%;
    right: 0;
    margin-right: 55px;
    background-size: cover;
  }

  @media screen and (min-width: $bp-md) {
    font-size: 24px;

    &::before {
      margin-top: 3px;
      margin-right: 270px;
    }
  }
}


.socials {
  padding-top: 116px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 34px;

  @media screen and (min-width: $bp-md) {
    padding-top: 60px;
  }

  @media screen and (min-width: $bp-lg) {
    padding-top: 160px;
  }
}

.footer__copyright {
  color: $text-color-white;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 40px;

  @media screen and (min-width: $bp-md) {
    font-size: 16px;
    padding-bottom: 35px;
  }
}

