.graphic-design {
  width: 100%;
  background-color: $background-primary;
}

.graphic-design__wrapper {
  margin: 0 auto;
  max-width: 343px;

  @media screen and (min-width: $bp-md) {
    max-width: 704px;
  }

  @media screen and (min-width: $bp-lg) {
    max-width: 1055px;
  }
}

.graphic-design__title {
  font-family: 'DynaPuff', serif;
  color: $text-color-white;
  padding-top: 40px;
  text-align: left;
  font-size: 36px;
  font-weight: 700;

  @media screen and (min-width: $bp-md) {
    font-size: 80px;
  }
}

.graphic-design__examples-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 26px;
}

.graphic-design__position {
  width: 343px;
  height: 325px;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    z-index: 10;
    background-size: contain;
    background-position: center;
  }

  &--star {
    &::before {
      background-image: url("../../img/SoftStar.svg");
      width: 172px;
      height: 172px;
      top: 72px;
      left: 90px;
    }

    @media screen and (min-width: $bp-md) {
      width: 704px;
      height: 414px;

      &::before {
        top: 93px;
        left: 239px;
        width: 227px;
        height: 227px;
      }
    }

    @media screen and (min-width: $bp-lg) {
      width: 1055px;
      height: 414px;

      &::before {
        top: 67px;
        left: 391px;
        width: 268px;
        height: 268px;
      }
    }
  }

  &--butterfly {
    &::before {
      background-image: url("../../img/Butterfly.svg");
      width: 134px;
      height: 137px;
      bottom: 99px;
      left: 103px;
    }

    @media screen and (min-width: $bp-md) {
      width: 338px;
      &::before {
        top: 87px;
        left: 94px;
        width: 147px;
        height: 151px;
      }
    }

    @media screen and (min-width: $bp-lg) {
      width: 514px;
      height: 414px;

      &::before {
        top: 111px;
        left: 164px;
        width: 187px;
        height: 191px;
      }
    }
  }

  &--asterisk {
    padding-bottom: 93px;

    &::before {
      background-image: url("../../img/Asterisk.svg");
      width: 148px;
      height: 143px;
      bottom: 186px;
      right: 99px;
    }

    @media screen and (min-width: $bp-md) {
      width: 338px;
      padding-bottom: 129px;

      &::before {
        top: 74px;
        left: 75px;
        width: 183px;
        height: 177px;
      }
    }

    @media screen and (min-width: $bp-lg) {
      width: 514px;
      height: 414px;
      padding-bottom: 138px;

      &::before {
        top: 94px;
        left: 141px;
        width: 233px;
        height: 225px;
      }
    }
  }
}

.graphic-design__img {
  width: 343px;
  height: 325px;
  border-radius: 40px;
  filter: grayscale(100%);

  @media screen and (min-width: $bp-lg) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--main {
    @media screen and (min-width: $bp-md) {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
