.hero-block {
  background-image: $background-header;
  height: 800px;
}

.hero-block__title {
  color: $text-color-white;
  font-family: DynaPuff, serif;
  font-size: 48px;
  font-weight: 700;
  padding: 412px 0 0 21px;

  @media screen and (min-width: $bp-md) {
    font-size: 80px;
    padding: 273px 0 0 34px;
    max-width: 521px;
  }

  @media screen and (min-width: $bp-lg) {
    padding: 491px 0 0 191px;
    max-width: 846px;
  }
}