.projects {
  background-color: #3C3C3C;
  width: 100%;
  padding: 52px 0 85px 0;
  @media screen and (min-width: $bp-md) {
    padding: 52px 0 122px 0;
  }
  @media screen and (min-width: $bp-lg) {
    padding: 86px 0;
  }
}

.projects__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 63px;
  max-width: 1087px;
  padding: 0 16px;
  margin: 0 auto;

  @media screen and (min-width: $bp-md) {
    padding: 0 32px;
    gap: 102px;
  }
  @media screen and (min-width: $bp-lg) {
    gap: 63px;
  }
}

.projects__card{
  width: 343px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: $bp-md) {
    flex-direction: row;
    gap: 40px;
  }

  @media screen and (min-width: $bp-lg) {
    flex-direction: row;
    gap: 40px;
    width: 325px;
  }

  &--main{
    flex-direction: column;

    @media screen and (min-width: $bp-md) {
      width: 703px;
    }

    @media screen and (min-width: $bp-lg) {
      width: 1055px;
    }
  }
}

.projects__card-content{
  position: relative;
  padding: 20px;
  border-radius: 24px;
  background: #FFFEF2;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &--third{
    display: none;

    @media screen and (min-width: $bp-md) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  &--fourth{
    display: none;

    @media screen and (min-width: $bp-lg) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
}

.projects__image {
  border-radius: 13px;
  height: 278px;
  width: 311px;

  @media screen and (min-width: $bp-md) {
    height: 301px;
    width: 288px;
  }

  @media screen and (min-width: $bp-lg) {
    width: 285px;
  }
}

.projects__card-title{
  font-family: 'DynaPuff', serif;
  color: $text-color-gray;
  font-size: 32px;
  font-weight: 600;
}

.projects__card-description{
  max-width: 580px;
  color: $background-primary;
  font-size: 15px;
  font-weight: 700;
}

.projects__ellipse{
  width: 56px;
  height: 56px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.projects__arrow{
  width: 24px;
  height: 24px;
  position: absolute;
  top: 46px;
  right: 46px;
}

.projects__card__content--main {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: $bp-md) {
    .projects__card-title {
      font-size: 40px;
    }

    .projects__card-description {
      font-size: 16px;
    }

    .projects__image {
      border-radius: 13px;
      height: 498px;
      width: 663px;
    }
  }

  @media screen and (min-width: $bp-lg) {
    .projects__image {
      border-radius: 13px;
      height: 498px;
      width: 100%;
    }
  }
}
