@import "../abstracts/variables";

.self-presentation {
  background-color: $background-primary;
  height: fit-content;
  width: 100%;
}

.self-presentation__container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  gap: 40px;
  padding-left: 16px;

  @media screen and (min-width: $bp-md) {
    padding-left: 33px;
  }

  @media screen and (min-width: $bp-lg) {
    padding-left: 191px;
    margin: 0 auto;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 167px;
    height: 320px;
    border-radius: 50% / 50%;
    border: 1px solid #737373;
    top: 80px;
    right: -165px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media screen and (min-width: $bp-md) {
    &::before,
    &::after {
      width: 268px;
      height: 512px;
      top: -25px;
    }
  }

  @media screen and (min-width: $bp-lg) {
    &::before,
    &::after {
      top: -25px;
      right: -4px;
    }
  }
}

.self-presentation__title {
  font-family: DynaPuff, serif;
  padding-top: 74px;
  color: #FAEB49;
  font-size: 36px;
  font-weight: 700;

  @media screen and (min-width: $bp-md) {
    font-size: 48px;
    padding-top: 101px;
  }
}

.self-presentation__description {
  color: $text-color-white;
  font-size: 15px;
  font-weight: 500;
  width: 342px;

  @media screen and (min-width: $bp-md) {
    font-size: 16px;
    width: 524px;
  }
}

.self-presentation__elements-container {
  display: flex;
  gap: 14px;

  @media screen and (min-width: $bp-md) {
    gap: 96px;
  }
}

.self-presentation__element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding-bottom: 74px;

  @media screen and (min-width: $bp-md) {
    padding-bottom: 101px;
  }
}

.self-presentation__element-count {
  font-family: DynaPuff, serif;
  color: $text-color-white;
  font-size: 36px;
  font-weight: 700;

  @media screen and (min-width: $bp-md) {
    font-size: 48px;
  }
}

.self-presentation__element-text {
  color: $text-color-white;
  font-size: 16px;
  font-weight: 700;
  max-width: 75px;

  @media screen and (min-width: $bp-md) {
    max-width: 116px;
  }
}


